USE [master]
GO
/****** Object:  Database [BDPLANILLA]    Script Date: 18/11/2018 23:10:28 ******/
CREATE DATABASE [BDPLANILLA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDPLANILLA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDPLANILLA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDPLANILLA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDPLANILLA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDPLANILLA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDPLANILLA]
GO
USE [BDPLANILLA]
GO
/****** Object:  Table [dbo].[TBSALARIOS]    Script Date: 18/11/2018 23:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSALARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CDEMPLEADO] [int] NOT NULL,
	[NOMBRE] [varchar](15) NOT NULL,
	[APELLIDOS] [varchar](20) NOT NULL,
	[DEPARTAMENTO] [varchar](25) NOT NULL,
	[TELEFONO] [varchar](15) NULL,
	[SALARIOMENSUAL] [float] NULL,
	[CCSS] [float] NULL,
	[BANCOPOPULAR] [float] NULL,
	[FECHADEPAGO] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CDEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBSALARIOS] ON 
GO
INSERT [dbo].[TBSALARIOS] ([ID], [CDEMPLEADO], [NOMBRE], [APELLIDOS], [DEPARTAMENTO], [TELEFONO], [SALARIOMENSUAL], [CCSS], [BANCOPOPULAR], [FECHADEPAGO]) VALUES (1, 31, N'Elsi', N'Garro Mata', N'TI', N'8888-8888', 100000, 9340, 1000, CAST(N'2018-01-01' AS Date))
GO
INSERT [dbo].[TBSALARIOS] ([ID], [CDEMPLEADO], [NOMBRE], [APELLIDOS], [DEPARTAMENTO], [TELEFONO], [SALARIOMENSUAL], [CCSS], [BANCOPOPULAR], [FECHADEPAGO]) VALUES (4, 32, N'Noe', N'Picado Piedras', N'Contabilidad', N'9999-9999', 200000, 18680, 2000, CAST(N'2018-01-01' AS Date))
GO
INSERT [dbo].[TBSALARIOS] ([ID], [CDEMPLEADO], [NOMBRE], [APELLIDOS], [DEPARTAMENTO], [TELEFONO], [SALARIOMENSUAL], [CCSS], [BANCOPOPULAR], [FECHADEPAGO]) VALUES (5, 33, N'Carlos', N'Garita Campos', N'IA', N'7109-8984', 1500000, 140100, 15000, CAST(N'2018-10-29' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TBSALARIOS] OFF
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR]    Script Date: 18/11/2018 23:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUSCAR]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@CDEMPLEADO INT,
@MSJ VARCHAR(50) OUT

AS
	BEGIN
		IF (NOT EXISTS(SELECT * FROM TBSALARIOS WHERE CDEMPLEADO=@CDEMPLEADO))
			SET @MSJ = 'EL TRABAJADOR NO EXISTE !!! '
		ELSE
			BEGIN
				SELECT * FROM  TBSALARIOS WHERE CDEMPLEADO = @CDEMPLEADO
				SET @MSJ = ' EL EMPLEADO HA SIDO ENCONTRADO !!!'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR]    Script Date: 18/11/2018 23:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ELIMINAR]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@CDEMPLEADO INT,
@MSJ VARCHAR(50) OUT

AS
	BEGIN
		IF (NOT EXISTS(SELECT*FROM TBSALARIOS WHERE CDEMPLEADO = @CDEMPLEADO))
			SET @MSJ = 'NO EXISTE CÉDULA DE EMPLEADO INGRESADO !!!'
		ELSE
			BEGIN
				DELETE FROM TBSALARIOS WHERE CDEMPLEADO = @CDEMPLEADO
				SET @MSJ = 'EL TRABAJADOR HA SIDO ELIMINADO EXITOSAMENTE !!!'
			END
	END
GO
/****** Object:  StoredProcedure [dbo].[GUARDAR_SALARIO]    Script Date: 18/11/2018 23:10:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GUARDAR_SALARIO]
-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE

@ID INT OUT,
@CDEMPLEADO INT,
@NOMBRE VARCHAR(20),
@APELLIDOS VARCHAR(20),
@DEPARTAMENTO VARCHAR(25),
@TELEFONO VARCHAR(15),
@SALARIOMENSUAL FLOAT,
@CCSS FLOAT,
@BANCOPOPULAR FLOAT,
@FECHADEPAGO DATE,
@MSJ VARCHAR(50) OUT

AS 
	BEGIN
			INSERT INTO TBSALARIOS(CDEMPLEADO,NOMBRE,APELLIDOS,DEPARTAMENTO,TELEFONO,SALARIOMENSUAL,CCSS,BANCOPOPULAR,FECHADEPAGO)
			VALUES(@CDEMPLEADO,@NOMBRE,@APELLIDOS,@DEPARTAMENTO,@TELEFONO,@SALARIOMENSUAL,@CCSS,@BANCOPOPULAR,@FECHADEPAGO)
			SELECT @ID = IDENT_CURRENT('dbo.TBSALARIOS')
			SET @MSJ = 'EL MOVIMIENTO DE PLANILLA FUE AGREGADO EXITOSAMENTE'

	END
GO
USE [master]
GO
